@model IEnumerable<MyFirstMVC.Models.Project>


@{
    ViewBag.Title = "Projects";
}

<h2>Projelerim</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Title
        </li>
    }
</ul>


